body{
    background-color: rgb(255, 255, 255);
}

img{
    width: 250px; /*Ancho de la imagen*/
    height: 250px; /*Alto de la imagen*/
}

tr:hover{
    background-color: rgb(110, 105, 105);
}

input{
    border-radius: 3px;
    border: 3px solid rgb(0, 0, 0);
    background-color: #5d6069;
}

.inputcolor{
    background-color: #5d6069;
}

#contraseña{
    background-color: aqua; /*color de fondo*/
    color: orangered; /*color de la letra*/
}

#MRX150{
    width: 250;
    height: 250;
}

#ONE110{
    width: 300px;
    height: 300px;
}

.jkjk{
    background-color: #ffffff;
}

